<!-- <a href="" class="show-item">
  <div class="show-item-rating">
    <i class="pi pi-star"></i>
    <span>8.8/10</span>
  </div>
  <div class="show-item-image">
    <img
      src="https://image.tmdb.org/t/p/w1280/.jpg"
      alt=""
    />
  </div>
  <div class="show-item-title">movie title</div>
</a> -->

<div class="movie-card">
  <div class="movie-rating">
    <i class="pi pi-star"></i>
    <span>8.8/10</span>
  </div>
  <img
    src="https://image.tmdb.org/t/p/w1280/ybSA7fUbYHw8VeRiSJ7tgKJnYWZ.jpg"
    alt=""
  />
  <span class="title">Title</span>
</div>
