@use "../../../styles.scss" as styles;

header {
  background-color: styles.$background-color-primary;
  display: block;
  border-bottom: 2px solid styles.$border-color;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px;
  .logo {
    span {
      font-size: 3rem;
      font-weight: 900;
      color: red;
    }
  }
  nav {
    ul {
      list-style: none;
      li {
        display: inline;
        margin: 16px;
        a {
          @include styles.textStyle();
          text-decoration: none;
        }
      }
    }
  }
}
