<header>
  <div class="wrapper">
    <div class="logo" routerLink="/">
      <span>ng</span>
      <span>Movie</span>
    </div>
    <nav class="hidden sm:block">
      <ul class="link-text">
        <li>
          <a routerLink="/">Home</a>
        </li>
        <li>
          <a routerLink="/list/movie">Movies</a>
        </li>
        <li>
          <a routerLink="/list/tv">TV Shows</a>
        </li>
        <li>
          <a routerLink="/genres">Genres</a>
        </li>
      </ul>
    </nav>
    <i
      class="pi pi-bars block sm:hidden"
      (click)="toggleMobileMenu()"
      (keydown.enter)="toggleMobileMenu()"
      (keydown.space)="toggleMobileMenu()"
      tabindex="0"
      role="button"
      aria-label="Toggle mobile menu"
    ></i>
  </div>
</header>
