<header>
  <div class="wrapper">
    <div class="logo" routerLink="/">
      <span>ng</span>
      <span>Movie</span>
    </div>
    <nav class="hidden sm:block">
      <ul class="link-text">
        <li>
          <a routerLink="/">Home</a>
        </li>
        <li>
          <a routerLink="/list/movie">Movies</a>
        </li>
        <li>
          <a routerLink="/list/tv">TV Shows</a>
        </li>
        <li>
          <a routerLink="/genres">Genres</a>
        </li>
      </ul>
    </nav>
    <i class="pi pi-bars block sm:hidden"></i>
  </div>
</header>
