<div class="slider">
  <div class="slide">
    <div class="slide-bg">
      <img
        src="https://www.themoviedb.org/t/p/w1280/7JqXmi6fUrUjOHxmu30CAc8SnXn.jpg"
        alt=""
      />
    </div>
    <div class="slide-pane">
      <h2 class="title mb-3">Slider Title</h2>
      <div class="meta-data">
        <div class="rating mb-1">
          <i>star-icon</i>
          <span>9.9</span>
          <span>/10</span>
        </div>
        <div class="votes mb-1">
          <i>vote-icon</i>
          <span>5056</span>
        </div>
        <div class="release-date">03.04.1979</div>
        <div class="description">Moviedescription</div>
      </div>
    </div>
  </div>
</div>
