<div>
  Impressum Angaben gemäß § 5 TMG: Dein Name Deine Adresse (Postanschrift, keine
  Postfachadresse) Kontakt: E-Mail: deine-email(at)example.com Telefon: +49 123
  4567890 (optional) Verantwortlich für den Inhalt nach § 55 Abs. 2 RStV: Dein
  Name Deine Adresse Haftung für Inhalte Als Dienstanbieter bin ich gemäß § 7
  Abs.1 TMG für eigene Inhalte auf diesen Seiten nach den allgemeinen Gesetzen
  verantwortlich. Nach §§ 8 bis 10 TMG bin ich als Dienstanbieter jedoch nicht
  verpflichtet, übermittelte oder gespeicherte fremde Informationen zu
  überwachen oder nach Umständen zu forschen, die auf eine rechtswidrige
  Tätigkeit hinweisen. Verpflichtungen zur Entfernung oder Sperrung der Nutzung
  von Informationen nach den allgemeinen Gesetzen bleiben hiervon unberührt.
  Eine diesbezügliche Haftung ist jedoch erst ab dem Zeitpunkt der Kenntnis
  einer konkreten Rechtsverletzung möglich. Bei Bekanntwerden von entsprechenden
  Rechtsverletzungen werde ich diese Inhalte umgehend entfernen. Haftung für
  Links Mein Portfolio kann Links zu externen Webseiten Dritter enthalten, auf
  deren Inhalte ich keinen Einfluss habe. Deshalb kann ich für diese fremden
  Inhalte auch keine Gewähr übernehmen. Für die Inhalte der verlinkten Seiten
  ist stets der jeweilige Anbieter oder Betreiber der Seiten verantwortlich.
  Urheberrecht Die durch mich erstellten Inhalte und Werke auf diesen Seiten
  unterliegen dem deutschen Urheberrecht. Die Vervielfältigung, Bearbeitung,
  Verbreitung und jede Art der Verwertung außerhalb der Grenzen des
  Urheberrechtes bedürfen der schriftlichen Zustimmung des jeweiligen Autors
  bzw. Erstellers.
</div>
