<div>
  <div class="grid input-wrapper">
    <div class="col-12">
      <input
        pInputText
        pSize="large"
        placeholder="Search"
        type="text"
        pInputText
        [(ngModel)]="searchValue"
        (change)="searchChanged()"
      />
    </div>
  </div>
  @if(list$ | async; as list) {
  <div class="grid wrapper">
    @for(item of list.results; track item.id) {
    <div class="col-12 md:col-6 lg:col-4">
      <app-show-item [showItem]="item" [mediumType]="mediumType" />
    </div>
    }
  </div>

  <div class="grid">
    <div class="col-12">
      <p-paginator
        (onPageChange)="pageChanged($event)"
        [rows]="20"
        [totalRecords]="totalRecords"
        [first]="(currentPage - 1) * 20"
      />
    </div>
  </div>
  }
</div>
