@use "../../../styles.scss" as styles;

footer {
  background-color: styles.$backgroundColorPrimary;
  .wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 32px;
    @include styles.maxWidth();
    span {
      @include styles.textStyle();
    }
  }
}
