@import "../../../styles.scss";

footer {
  background-color: $backgroundColorPrimary;
  .wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 32px;
    @include maxWidth();
    span {
      @include textStyle();
    }
  }
}
