@if(medium$ |async; as medium) {
<app-slider [slides]="[medium]"></app-slider>
<p-tabs value="0">
  <p-tablist>
    <p-tab value="0">Overview</p-tab>
    <p-tab value="1">Videos</p-tab>
    <p-tab value="2">Photos</p-tab>
  </p-tablist>
  <p-tabpanels>
    <p-tabpanel value="0">
      <div class="grid">
        <div class="col-3">
          <img
            [src]="imagesSizes.medium + medium.poster_path"
            alt=""
            class="poster"
          />
        </div>
        <div class="col-9">
          <h2>Overview</h2>
          <p>{{ medium.overview }}</p>
          <table>
            <tr class="stat">
              <td class="label">Release Date:</td>
              <td class="value">
                {{ medium.release_date | date : "dd.MM.yyyy" }}
              </td>
            </tr>
            <tr class="stat">
              <td class="label">Language:</td>
              <td class="value">
                {{ medium.original_language }}
              </td>
            </tr>
            <tr class="stat">
              <td class="label">Revenue:</td>
              <td class="value">{{ medium.revenue | currency }}</td>
            </tr>
            <tr class="stat">
              <td class="label">Runtime:</td>
              <td class="value">{{ medium.runtime }} min</td>
            </tr>
            <tr class="stat">
              <td class="label">Generes:</td>
              <td class="value">
                @for(genre of medium.genres; track genre.id ) {
                {{ genre.name }}
                }
              </td>
            </tr>
          </table>
        </div>
      </div>
    </p-tabpanel>
    <p-tabpanel value="1">
      @if(mediumVideos$ | async; as mediumVideos) {
      <div class="grid">
        @for(video of mediumVideos; track video.key) {
        <div class="col-4">
          <app-videos-embed [key]="video.key" />
          {{ video | json }}
        </div>
        }
      </div>
      }
    </p-tabpanel>
    <p-tabpanel value="2">
      <p class="m-0">
        At vero eos et accusamus et iusto odio dignissimos ducimus qui
        blanditiis praesentium voluptatum deleniti atque corrupti quos dolores
        et quas molestias excepturi sint occaecati cupiditate non provident,
        similique sunt in culpa qui officia deserunt mollitia animi, id est
        laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita
        distinctio. Nam libero tempore, cum soluta nobis est eligendi optio
        cumque nihil impedit quo minus.
      </p>
    </p-tabpanel>
  </p-tabpanels>
</p-tabs>
}
<p>{{ mediumId }}</p>
<pre>
    {{ medium$ | async | json }}
</pre>
