@use "../../../styles.scss" as styles;

::ng-deep {
  .p-tablist-tab-list {
    justify-content: center;
    .p-tab-active {
      color: styles.$primary-color;
    }
    .p-tablist-active-bar {
      background-color: styles.$primary-color;
    }
  }
}

table {
  width: 25%;
}
