@use "../../../styles.scss" as styles;

::ng-deep {
  .p-tablist-tab-list {
    justify-content: center;
    .p-tab-active {
      color: styles.$primary-color;
    }
    .p-tablist-active-bar {
      background-color: styles.$primary-color;
    }
  }
}

.actor {
  padding: 8px;
  img {
    width: 100%;
    height: 269px;
    object-fit: cover;
  }
  span {
    text-align: center;
    display: block;
  }
}

.photo {
  width: 100%;
}

table {
  width: 25%;
}
